body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
    background-color: white;
}

table#mainAlignment {
    border-collapse:collapse;
    border: 2px ridge #000099; 
    width: 100%;
}

th#mainHeadingCell {
    text-align:left;
    font-weight:normal;
}

th#mainHeadingCell,
td#mainFooterCell  {
    background-color: #000099;
    color: #FFFF66;
    padding:8;
}

td#mainMenuCell  {
    padding:0;
}

th#mainHeadingCell a,
td#mainFooterCell a,
th#mainHeadingCell a:visited,
td#mainMenuCell a:visited,
td#mainFooterCell a:visited  {
    color: White;
    text-decoration:none;
}

th#mainHeadingCell a:hover,
td#mainFooterCell a:hover,
th#mainHeadingCell a:active,
td#mainMenuCell a:active,
td#mainFooterCell a:active  {
    background-color: #FFFF66;
    color: #000099;
}

td#mainMenuCell,
td#mainContentCell,
td#mainFooterCell {
    vertical-align:top;
}

h1#HeadingH1,
h2#SubHeadingH2{
    font-weight: bold;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 8px;
}

h1#HeadingH1 {
    color: #FFFFFF;
    font-size: x-large
}

h2#SubHeadingH2 {
    font-size: larger
}

.CurrentMainBreadCrumbNode {
    font-weight: bold;
}

div.MainMenuControl ul.static {
    border: 4px outset #000099;
    background-color: #000099;
}

div.MainMenuControl li.static {
    border: 2px outset #000099;
    color: #FFFF66;
}

div.MainMenuControl li.static a {
    color: white;
}

div.MainMenuControl ul.dynamic {
    background-color: #CCCCCC;
    border: 4px ridge black;
}

div.MainMenuControl li.dynamic {
    border: 2px groove #000099;
    color: black;
    padding: 2px;
}

div.MainMenuControl li.dynamic a {
    color: #000066;
}

.MainMenuControlItemHover {
    background-color: #FFFF66;
    color: #000099;
}

.MainMenuControlItem,
.MainMenuControlItemHover {
    padding: 2px;
    border-top:none;
    border-right:none;
    border-bottom:2px ridge #000099;
    border-left:none;
}
