<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LoggingModule.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <LoggingModule.Properties.Settings>
            <setting name="TraceSource_Name" serializeAs="String">
                <value>MyCustomSource</value>
            </setting>
            <setting name="Category_Event" serializeAs="String">
                <value>Event</value>
            </setting>
            <setting name="Category_None" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Default_MaxInMemoryEventItems" serializeAs="String">
                <value>4096</value>
            </setting>
        </LoggingModule.Properties.Settings>
    </applicationSettings>
</configuration>